*{
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.856);
  color: whitesmoke;
}

.container-items {
  font-size: 1.2rem;
  padding: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
